<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @career.name %>
</p>

<% if user_signed_in? %>
  <% if current_user.is_admin? %>
    <%= link_to 'Edit', edit_career_path(@career) %> |
    <%= link_to 'Back', careers_path %>
  <% end %>
<% end %>