<header class="row-full masthead text-center text-white">
  <div class="masthead-content">
    <div class="container" style="margin-left:15% !important;">
      <h1 class="masthead-heading mb-0" style="text-align: center !important; ">MentorMe</h1>
      <h2 class="masthead-subheading mb-0">Rate them back</h2>
      <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <!--<img class="img-fluid rounded-circle" src="img/01.jpg" alt="">-->
          <%= image_tag('anonymous-borderless.png', class:"img-fluid rounded-circle" )%>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Anonimidad</h2>
          <p>Explota la capacidad de decir lo que piensas sin riesgo a represalias</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag('rate.jpg', class:"img-fluid rounded-circle" )%>
          <!--<img class="img-fluid rounded-circle" src="img/02.jpg" alt="">-->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Rese침as</h2>
          <p>Revisa lo que los dem치s compa침eros piensan.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag('schedule-white-2.jpg', class:"img-fluid rounded-circle" )%>
          <!--<img class="img-fluid rounded-circle" src="img/03.jpg" alt="">-->
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Calendario</h2>
          <p>Arma tu calendario antes de la selecci칩n de materias.</p>
        </div>
      </div>
    </div>
  </div>
</section>