html, body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

#center-div {
  display: table;
  min-width: 300px;
  margin: 0 auto;
}

.btn {
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 25px;
}

.bold-font {
  font-family: 'Roboto bold', sans-serif;
}

.be-blue {
  background-color: #1F518B;
}

.black {
  background-color: #191B1F;
}

.blue-font {
  color: #1F518B;
}

.white {
  color: white;
}

.large-padding {
  padding: 10px 7px;
}

a {
  color: inherit !important;
  text-decoration: none;
}

.no-marging {
  margin: 0px;
}

.no-padding {
  padding: 0px 0px;
}

#logo {
  font-size: 1.5em;
}

.field {
  margin-top: 1em;
}

.form-control, input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif !important;
}

.error {
  background-color: red;
  color: white;
  margin-top: 1em;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

nav {
  color: #5eb6fd !important;
}

.theme-div {
  width: 80%;
  margin: 0 auto;
}

.row-full {
  width: 100vm !important;
  position: relative;
  margin-left: -50vw;
  margin-top: -58px;
  left: 50%;
}

.text-left {
  text-align: left !important;
}

.box {
  position: relative;
  box-sizing: border-box;
  min-height: 50em;
  margin-bottom: 0;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}

.top-padding {
  padding-top: 20px;
}

.bottom-padding {
  padding-bottom: 15px;
}

.no-bottom-padding {
  padding-bottom: 0px !important;
}

.top-marging {
  margin-top: 20px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.full-wight {
  padding-right: -15px !important;
  padding-left: -15px !important;
  margin-left: -15px !important;
}

.red {
  color: red !important;
}

.blue {
  color: blue !important;
}

.two-div-container {
  width: 90%;
  height: 100%;
  #background: aqua;
  margin: auto;
  padding: 10px;
}
.one {
  width: 20%;
  height: 100%;
  #background: red;
  float: left;
}
.two {
  margin-left: 25%;
  margin-top: 20px;
  height: 100%;
  #background: darkslategrey;
}

.jcontainer{
  margin-top: 7%;
}